<div class="row" >
<div class="col-md-4" *ngFor = "let item of compareList ; let i = index">
<img src="{{item.imageUrl}}" alt="" class="img-responsive" [ngStyle] = "{'max-height.vh' : '35'}">
<h4>{{item.name}}</h4>
<p><b>Storage</b> : {{item.storage}}</p>
<p><b>Display</b> : {{item.display}}</p>
<p><b>Camera</b> : {{item.camera}}</p>
<p><b>Battery</b> : {{item.battery}}</p>
<p><b>Processor</b> : {{item.processor}}</p>
<button class="btn btn-success" (click) = "addToCart(item)">Add To Cart</button>
<button class="btn btn-danger" (click) = "removeFromCompare(i)">Remove</button>
</div>

</div>