<div class="row" >

<div class="col-md-4" *ngFor = "let item of compareList ; let i = index">
<img src="{{item.imageUrl}}" alt="" class="img-responsive">
<h4>{{item.name}}</h4>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos labore nobis nesciunt nam, odit ratione accusamus libero sint in perspiciatis consequatur asperiores deleniti quam quo fugiat temporibus. Voluptatem, mollitia at.</p>
<button class="btn btn-success" (click) = "addToCart(item)">Add To Cart</button>
<button class="btn btn-danger" (click) = "removeFromCompare(i)">Remove</button>
</div>

</div>