<div class="card mt-5" [ngStyle] = "{'width.vw' : '30' , 'height' : 'fit-content' , 'margin-left.vw' : '35'}">
    <div class="card-header" [ngStyle] = "{'text-align' : 'center' , 'background-color' : '#007bff' , 'color' : 'white'}">
        <h5>Login</h5>
    </div>
    <div class="card-body">
   <form [formGroup]="login" (ngSubmit)="onLogin()"> 
       <div class="form-group">
           <label for="email">Email</label>
           <input type="text" class="form-control" placeholder="Enter your Email" formControlName="email">
       </div>
       <div class="form-group">
           <label for="password">Password</label>
           <input type="password" class="form-control" placeholder="Enter your Password" formControlName="password">
       </div>
       <button class="btn btn-success">Login</button> |
       <button class="btn btn-success" routerLink="/signup" type="submit">Sign Up</button>

   </form>
</div>
</div>
