<div class = "row pl-5 pr-5 mt-5" *ngIf = "cartItems.length>0 ; else emptyCart" >
    <div class="card card-body col-md-8 mt-2">
        <h5 [ngStyle]="{'text-align' : 'center'}">My Cart({{cartItems.length}})</h5>
        <div class="card mt-2" *ngFor="let data of cartItems ; let i = index">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-right mr-2 mt-2">
                        <button type="button" class="close" (click)="onClick(i,data)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mt-2 mb-2" [ngStyle]="{'text-align' : 'center'}">
                            <img src="{{data.imageUrl}}" [ngStyle]="{'max-height.vh' : '15'}">
                        </div>
                        <div class="col-md-9 mt-2">
                            <h5>{{data.name}}</h5>
                            <p>{{data.storage}}</p>
                            <h6 class="cost"> {{data.cost}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-body col-md-4 mt-2" [ngStyle] = "{'height' : 'fit-content'}">
        <h5 [ngStyle]="{'text-align' : 'center'}">Price Details</h5>
        <div class="card mt-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="float-left">Price ({{cartItems.length}} Item(s)) : </span>
                    <span class="float-right cost">30000</span>
                </li>
                <li class="list-group-item">
                    <span class="float-left">GST (18%) : </span>
                    <span class="float-right cost">540</span>
                </li>
                <li class="list-group-item">
                    <span class="float-left">Delivery Fee : </span>
                    <span class="float-right cost">300</span>
                </li>
                <li class="list-group-item pt-4" [ngStyle]="{'font-weight': '500'}">
                    <span class="float-left">Total Payable : </span>
                    <span class="float-right cost">30840</span>
                </li>
            </ul>
        </div>
        <button class="btn btn-orange mt-4">Place Order</button>
    </div>

    <!-- <h1 style = "text-align: center">Cart Items</h1>
    <div class="col-md-6">
    <div class="list-group " *ngFor = "let data of cartItems ; let i = index">
        <a class="list-group-item ">
            <div class="float-left">
            <h4 class="list-group-heading">{{data.name}}</h4>
            </div>
            <div class="float-right">
                <button type="button" class="close" (click)="onClick(i,data)"> 
                <span aria-hidden="true">&times;</span>
                </button>
                <img src="{{data.imageUrl}}" class="img-responsive" style="max-height: 50px">
            </div>
        </a>
    </div>
</div> -->


</div>

<ng-template #emptyCart>
    <h1 style = "text-align: center">No Items in cart</h1>
</ng-template>


